@inherits LayoutComponentBase

<DynamicBackground />

<table id="hp_table" role="none">
    <tbody>
        <tr>
            <td id="hp_cellCenter" class="hp_hd">
                <div id="hp_container">
                    @Body
                    @* Footer *@
                    <div id="hp_bottomCell">
                        <footer id="b_footer" class="b_footer" role="contentinfo" aria-label="Footer" data-priority="0">
                            <div id="b_footerItems">
                                <span>This site is not affiliated with Microsoft or Bing.com</span>
                            </div>
                        </footer>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
